/.utmp
/.vscode
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/BindSystem.csproj
/ChadoXR.slnx
/ChadoXR_BurstDebugInformation_DoNotShip
/DummyImplements.csproj
/FeatureComponents.Editor.csproj
/FeatureComponents.csproj
/IFeatureComponents.csproj
/Library
/LocalPreviewTool.Editor.csproj
/Logs
/MRTemplate.csproj
/Packages
/ProjectSettings
/Simulator.Editor.csproj
/Temp
/UserSettings
/chadoxr.apk
/chadoxr_BackUpThisFolder_ButDontShipItWithYourGame
/mono_crash.0.0.json